* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

section {
    padding: 60px 0;
}

h1 {
    font-weight: 700;
    font-size: 75px;
    color: #181818;
    text-transform: capitalize;
}

h2 span {
    color: #FD6E0A;
}

h2 {
    font-size: 35px;
    text-align: center;
    color: #181818;
    font-weight: 700;
    text-transform: capitalize;
}

h3 {
    font-size: 30px;
    color: #474747;
    text-transform: capitalize;
    margin: 15px 0;
    font-weight: 700;
}

p {
    font-size: 18px;
    color: #757575;
    line-height: 38px;
}

article {
    color: #757575;
    line-height: 28px;
}

button,
input[type="submit"] {
    letter-spacing: 2px;
}

section h2 {
    margin-bottom: 25px;
}

section p {
    text-align: center;
}

.container {
    width: 1140px;
    margin: auto;
}

.container_fluid {
    width: 1520px;
    margin-left: auto;
}

.btn_primary {
    font-size: 19px;
    color: white;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    text-transform: capitalize;
    padding: 19px;
    cursor: pointer;
}

.btn_secondary {
    font-size: 19px;
    color: #FD6E0A;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    background-color: white;
    text-transform: capitalize;
    padding: 19px;
    cursor: pointer;
}

.btn_hire {
    background-color: #FD6E0A;
    color: white;
    border: none;
    font-size: 20px;
    text-transform: capitalize;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.header {
    padding-top: 30px;
    background-color: #FFF8F3;
    height: 837px;
    background-image: url("images/header_bg.png"), url("images/developer.png");
    background-repeat: no-repeat;
    background-position-x: right, 100px;
    background-position-y: bottom, center;
    box-sizing: border-box;
}

.nav_title {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu ul li {
    margin: 0 7px;
}

.menu ul li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    text-transform: capitalize;
    padding: 12px 20px;
    position: relative;
}

.menu ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    border-bottom: 3px solid #FD6E0A;
    transition: 0.4s;
}

.menu ul li a:hover::after {
    width: 100%;
}

.sub_title {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    text-transform: capitalize;
}

.btn_area {
    margin-top: 30px;
}

.btn_area button {
    margin-right: 10px;
}

.banner_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 66px;
}

.banner_area,
.img_area {
    width: 100%;
}

.img_area {
    text-align: right;
}

.about_section {
    padding-top: 120px;
}

.about_me {
    background-color: #FFF8F3;
    padding: 130px 150px;
}

.about_information {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.about_information p,
.about_information strong:not(.exeption) {
    text-transform: capitalize;
}

.about_information strong {
    font-size: 20px;
}

.what_i_do p {
    margin-bottom: 30px;
}

.skill_information {
    display: flex;
    gap: 24px;
}

.col-skill-3 {
    background-color: #fff;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.col-skill-3 h4 {
    margin: 15px 0;
    text-transform: capitalize;
}

.resume_information {
    display: flex;
    gap: 30px;
    align-items: center;
}

.education h4,
.experience h4 {
    font-size: 22px;
    color: #474747;
    text-transform: capitalize;
    font-weight: 700;
    margin: 15px 0;
}

.education span,
.experience span {
    font-size: 18px;
    color: #474747;
    opacity: .8;
    text-transform: capitalize;
    font-weight: 700;
    margin: 10px 0;
}

.education article,
.experience article {
    color: #757575;
    margin: 15px 0;
}

.resume .btn {
    margin-top: 30px;
    text-align: center;
}

footer {
    padding: 100px 0;
    background-color: #FFF8F3;
}

.footer_area {
    display: flex;
    gap: 30px;
}

.footer_area h2 {
    text-align: left;
}

.footer_area .connect article {
    margin-top: 30px;
    color: #474747;
}

.footer_menu {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

.message form input:not(input[type="submit"]) {
    width: 455px;
    height: 20px
}

form input:not(input[type="submit"]),
form textarea {
    font-size: 15px;
    color: #757575;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}

textarea {
    resize: vertical;
}

.btn_submit {
    background-color: #FD6E0A;
    color: white;
    border: none;
    font-size: 19px;
    text-transform: capitalize;
    padding: 14px 40px;
    height: 64px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}