* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

.container {
    width: 1140px;
    margin: auto;
    height: auto;
}

h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    text-transform: capitalize;
}

h2 span {
    color: #FD6E0A;
}

h3 {
    font-size: 35px;
    line-height: 48px;
    text-align: center;
    color: #181818;
}

.header {
    padding-top: 30px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu ul li {
    margin: 0 7px;
}

.menu ul li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    padding: 12px 20px;
    position: relative;
}

.menu ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    border-bottom: 3px solid #FD6E0A;
    transition: 0.4s;
}

.menu ul li a:hover::after {
    width: 100%;
}

.btn_hire {
    background-color: #FD6E0A;
    border: none;
    font-size: 20px;
    text-transform: capitalize;
    padding: 16px 16px;
    border-radius: 5px;
}

.btn_hire a {
    color: white !important;
}